@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #110f0f;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0; /* Remove default margin */
}

html, body {
  height: 100%; /* Ensure the body and html fill the viewport */
  width: 100%;
}
